@model IEnumerable<Core.Models.Pizza>

@{
    ViewData["Title"] = "Index";
}

<h1>Pizza Store</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PizzaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>


            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PizzaName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>


                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
